@charset "utf-8";

html { font-family: "microsoft Yahei", "Hiragino Sans GB", 宋体, sans-serif; text-size-adjust: 100%; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, #case-details article ul, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px; font-size: 100%; font-family: "microsoft Yahei", "Hiragino Sans GB", 宋体, sans-serif; vertical-align: baseline; }

body { margin: 0px; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0px; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover { outline: 0px; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0px; }

mark { background: rgb(255, 255, 0); color: rgb(0, 0, 0); }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0px; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0px; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid rgb(192, 192, 192); margin: 0px 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0px; padding: 0px; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0px; }

td, th { padding: 0px; }

ul, li, ol { list-style: none; }

body { background: rgb(247, 251, 252); width: 100%; height: 100%; overflow-y: scroll; }

body.noscroll { overflow-y: hidden !important; }

.weixinmask { width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; background: rgba(0, 0, 0, 0.8); text-align: center; padding-top: 50%; z-index: 99; }

.weixinmask img { width: 400px; }

.main-contents { display: inline-block; width: 100%; padding: 70px 0px; }

.bkcolor-gray { background: rgb(238, 243, 244); }

.bkcolor-white { background: rgb(255, 255, 255); }

.bkcolor-hover { background: rgb(26, 31, 35) !important; }

.font-orange { color: rgb(228, 117, 65); }

.font-cyan { color: rgb(27, 188, 155); }

.font-gray { color: rgb(150, 150, 150); }

.font-red { color: rgb(236, 100, 86); }

.font-blue { color: rgb(74, 168, 232); }

.font-black { color: rgb(0, 0, 0) !important; }

.btn-orange { background: rgb(228, 117, 65); height: 52px; line-height: 52px; font-size: 28px; color: rgb(255, 255, 255); text-align: center; cursor: pointer; border-radius: 10px; display: block; text-decoration: none; }

.btn-cyan { background: rgb(27, 188, 155); height: 52px; line-height: 52px; font-size: 28px; color: rgb(255, 255, 255); text-align: center; cursor: pointer; border-radius: 10px; display: block; text-decoration: none; }

.btn-red { background: rgb(236, 100, 86); height: 52px; line-height: 52px; font-size: 28px; color: rgb(255, 255, 255); text-align: center; cursor: pointer; border-radius: 10px; display: block; text-decoration: none; }

.btn-blue { background: rgb(74, 168, 232); height: 52px; line-height: 52px; font-size: 28px; color: rgb(255, 255, 255); text-align: center; cursor: pointer; border-radius: 10px; display: block; text-decoration: none; }

header.topnav .headtop { width: 100%; height: 88px; line-height: 88px; background: rgb(40, 51, 60); text-align: center; position: absolute; top: 0px; left: 0px; z-index: 99; }

header.topnav.open .headtop { position: fixed; }

header.topnav .title { color: rgb(255, 255, 255); font-size: 36px; }

header.topnav .icon-list-ul { float: left; font-size: 36px; line-height: 88px; color: rgb(255, 255, 255); padding-left: 5%; width: 80px; }

header.topnav .icon-plus { float: left; font-size: 36px; line-height: 67px; color: rgb(255, 255, 255); padding-left: 5%; display: none; width: 80px; transition: all 0.5s linear 0s; }

header.topnav .topnavmask { width: 100%; height: 100%; position: fixed; top: -100%; left: 0px; background: rgb(40, 51, 60); opacity: 0; transition: all 0.5s linear 0s; z-index: 15; }

header.topnav .topnavmask .navlists { width: 100%; display: block; margin-top: 138px; }

header.topnav .topnavmask .navlists li { display: none; width: 43%; float: left; overflow: hidden; text-align: center; margin-bottom: 10px; padding: 20px; background: rgb(40, 51, 60); }

header.topnav .topnavmask .navlists li img { width: 70%; }

header.topnav.open .topnavmask .navlists li { display: inline-block; animation-delay: 0.2s; }

header.topnav .topnavmask .navlists li span { display: block; width: 100%; text-align: center; color: rgb(255, 255, 255); font-size: 26px; margin-top: 24px; }

header.topnav .tohome { width: 70%; text-align: center; display: block; clear: both; color: rgb(255, 255, 255); border-top: 1px solid rgb(255, 255, 255); margin: 0px auto; padding-top: 30px; }

header.topnav .tohome a { color: rgb(255, 255, 255); font-size: 30px; text-decoration: none; }

header.topnav.open .topnavmask { top: 0px; opacity: 1; }

header.topnav.open .icon-plus { display: block; transform: rotate(45deg); }

header.topnav.open .icon-list-ul { display: none; }

header.topnav .headtop .loginbtn { position: absolute; right: 20px; top: 10px; width: 60px; height: 60px; border-radius: 50%; overflow: hidden; text-align: center; line-height: 60px; }

header.topnav .headtop .loginbtn img { width: 100%; }

header.topnav .headtop .menubtn { display: block; position: absolute; z-index: 3; top: 0px; width: 88px; height: 88px; cursor: pointer; opacity: 1; transition: transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s; -webkit-tap-highlight-color: transparent; }

header.topnav .headtop .menubtn.hidebtn { opacity: 0; }

header.topnav .headtop .menubtn .menuicon { position: absolute; z-index: 3; top: 0px; left: 0px; width: 88px; height: 88px; transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; }

header.topnav .headtop .menubtn .menuicon-top { transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s; transform: rotate(0deg); z-index: 4; }

header.topnav .headtop .menubtn .menuicon-bottom { transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s; transform: rotate(0deg); }

header.topnav .headtop .menubtn .menuicon-crust { display: block; width: 46px; height: 2px; background: rgb(255, 255, 255); position: absolute; left: 15px; z-index: 1; transition: transform 0.2s ease 0s; }

header.topnav .headtop .menubtn .menuicon-crust.menuicon-crust-top { top: 23px; transition: transform 0.2s ease 0.2s; transform: translateY(7px); }

header.topnav .headtop .menubtn .menuicon-crust.menuicon-crust-bottom { bottom: 23px; transform: translateY(-7px); }

header.topnav.open .headtop .menubtn { transform: rotate(90deg); top: 10px; }

header.topnav.open .headtop .menubtn .menuicon-top { transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.2s; transform: rotate(45deg); }

header.topnav.open .headtop .menubtn .menuicon-bottom { transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.2s; transform: rotate(-45deg); }

header.topnav.open .headtop .menubtn .menuicon-crust-top { transform: translateY(25px); }

header.topnav.open .headtop .menubtn .menuicon-crust-bottom { transition: transform 0.2s ease 0s; transform: translateY(-25px); }

.page p { margin-top: 70px; line-height: 3rem; font-size: 24px; color: rgb(150, 150, 150); }

.page .index-intro { margin: 0px auto; width: 90%; }

.page .index-intro h1 { font-size: 40px; letter-spacing: 1px; color: rgb(0, 0, 0); text-align: center; }

.page .index-intro h2 { font-size: 30px; color: rgb(0, 0, 0); text-align: center; }

.page .index-intro h3 { font-size: 24px; color: rgb(0, 0, 0); text-align: center; }

.page#index .top-content .logo { width: 100%; text-align: center; margin-top: 84px; }

.page#index .top-content .index-intro { margin-top: 54px; width: 80%; }

.page#index .top-content .index-intro p { font-size: 27px; text-align: center; }

.page#index .sharesdk-content .sharesdk-logo { text-align: center; }

.page#index .sharesdk-content a.btn-orange { width: 192px; margin: 36px auto 0px; }

.page#index .sharesdk-content p { text-align: center; }

.page#index .sharesdk-content .index-intro { width: 90%; margin-top: 0px; }

.page#index .sharesdk-content .index-intro p { margin-top: 36px; }

.page#index .sms-content .index-intro { width: 90%; }

.page#index .sms-content .index-intro p { margin-top: 0px; text-align: center; }

.page#index .sms-content .sms-icons { width: 100%; height: 218px; margin-top: 46px; }

.page#index .sms-content .sms-icons li { width: 33%; float: left; text-align: center; }

.page#index .sms-content .sms-icons li span { width: 100%; text-align: center; display: block; font-size: 20px; }

.page#index .sms-content .sms-icons li span.font-gray { font-size: 18px; margin-top: 18px; margin-bottom: 12px; }

.page#index .sms-content a.btn-cyan { width: 410px; margin: 30px auto 0px; }

.page#index .sharerec-content .sharerec-logo { text-align: center; }

.page#index .sharerec-content a.btn-red { width: 192px; margin: 36px auto 0px; }

.page#index .sharerec-content p { text-align: center; }

.page#index .sharerec-content .index-intro { width: 90%; margin-top: 0px; }

.page#index .sharerec-content .index-intro p { margin-top: 36px; }

.page#index .bigapp-content .index-intro { width: 90%; }

.page#index .bigapp-content .index-intro p { margin-top: 0px; text-align: center; }

.page#index .bigapp-content a.btn-blue { width: 280px; margin: 46px auto 0px; }

.page#index .bigapp-content .bigapp-logo { text-align: center; margin-top: 30px; }

.page#index .mobapi-content .index-intro { width: 90%; }

.page#index .mobapi-content .index-intro p { margin-top: 0px; text-align: center; }

.page#index .mobapi-content a.btn-blue { width: 280px; margin: 46px auto 0px; }

.page#index .mobapi-content .bigapp-logo { text-align: center; margin-top: 30px; }

.page#index .applist-content .index-intro { width: 90%; height: 550px; overflow: hidden; margin: 0px auto; }

.page#index .applist-content .applistcontent { width: 100%; height: 100%; overflow: hidden; margin-top: 48px; position: relative; }

.page#index .applist-content .swiper-slide { width: 100%; height: 100%; overflow: hidden; }

.page#index .applist-content .swiper-slide li { padding-bottom: 20px; width: 25%; display: inline-block; float: left; text-align: center; margin-bottom: 18px; }

.page#index .applist-content .swiper-slide li img { width: 66px; height: 66px; }

.page#index .applist-content .swiper-slide li p { margin-top: 14px; font-size: 18px; text-align: center; height: 2rem; line-height: 2rem; }

.page#index .applist-content .swiper-pagination { bottom: 110px; }

footer.index-footer { height: 525px; }

footer.index-footer .footer-tab { padding: 0px 0px 20px; }

footer.index-footer .footer-tab .index-intro { width: 80%; margin: 0px auto; }

footer.index-footer .footer-tab .tab-lists li { line-height: 61px; font-size: 24px; padding-left: 30px; border-bottom: 1px solid rgb(150, 150, 150); }

footer.index-footer .footer-tab .tab-lists li .icon-plus { display: inline-block; float: right; line-height: 61px; width: 60px; text-align: center; transition: all 0.5s linear 0s; }

footer.index-footer .footer-tab .tab-lists li .tabs { padding-bottom: 10px; color: rgb(150, 150, 150); padding-left: 20px; display: none; animation-duration: 0.2s; }

footer.index-footer .footer-tab .tab-lists li .tabs dl { line-height: 42px; }

footer.index-footer .footer-tab .tab-lists li.open .tabs { display: block; }

footer.index-footer .footer-tab .tab-lists li.open .icon-plus { transform: rotate(45deg); }

footer.index-footer .footer-text { padding: 20px 0px; background: rgb(35, 45, 53); }

footer.index-footer .footer-text p { width: 80%; margin: 0px auto 20px; text-align: center; color: rgb(255, 255, 255); font-size: 20px; }

footer.index-footer .footer-icons { background: rgb(40, 51, 60); padding: 35px 0px; }

footer.index-footer .icons-list { width: 90%; margin: 0px auto; display: block; height: 60px; overflow: hidden; }

footer.index-footer .icons-list li { width: 20%; display: inline-block; text-align: center; float: left; }

footer.index-footer .icons-list li a { width: 60px; height: 60px; line-height: 60px; display: block; margin: 0px auto; border-radius: 50%; background: rgb(60, 75, 88); text-align: center; }

footer.index-footer .icons-list li a span { display: block; margin-left: 10px; }

footer.index-footer .footer-icons .pchref { display: block; text-align: center; width: 100%; clear: both; color: rgb(255, 255, 255); margin-top: 58px; }

footer.index-footer .footer-icons .pchref a { color: rgb(255, 255, 255); }

.ico-weixin { background: url("http://www.mob.com/mobile/images/common/icons.png") -128px -222px no-repeat; width: 40px; height: 40px; }

.ico-weibo { background: url("http://www.mob.com/mobile/images/common/icons.png") -84px -222px no-repeat; width: 40px; height: 40px; }

.ico-twitter { background: url("http://www.mob.com/mobile/images/common/icons.png") -40px -222px no-repeat; width: 40px; height: 40px; }

.ico-facebook { background: url("http://www.mob.com/mobile/images/common/icons.png") 0px -222px no-repeat; width: 40px; height: 40px; }

.ico-mail { background: url("http://www.mob.com/mobile/images/common/icons.png") -170px -221px no-repeat; width: 40px; height: 40px; }

.page .producttop { position: relative; margin-top: 88px; overflow: hidden; }

.page .producttop .masktop { position: absolute; top: 0px; left: 0px; width: 100%; background: rgb(247, 251, 252); height: 67px; line-height: 67px; border-bottom: 1px solid rgb(222, 225, 226); z-index: 12; }

.page .producttop .masktop .title { width: 30%; float: left; font-size: 35px; padding-left: 20px; font-weight: bold; }

.page .producttop .masktop .icons { width: 30%; float: left; text-align: center; transform: rotate(0deg); transform-origin: 50% 41%; transition: all 0.5s linear 0s; }

.page .producttop .masktop .icons span { font-size: 60px; }

.page .producttop .masktop .icons.open { transform: rotate(180deg); }

.page .producttop .masktop .tybtn { width: 28%; float: right; }

.page .producttop .masktop .tybtn span { margin-top: 7px; margin-right: 20px; }

.page .producttop .mask-content { width: 100%; position: absolute; top: -100%; left: 0px; z-index: 11; background: rgb(247, 251, 252); height: 100%; margin-top: 68px; transition: all 0.5s linear 0s; }

.page .producttop .mask-content.open { top: 0px; }

.page .producttop .mask-content p { width: 80%; margin: 30px auto 0px; }

.page .producttop .topbanner { width: 100%; height: 100%; overflow: hidden; display: block; position: relative; margin-top: 50px; }

.page .producttop .topbanner .swiper-slide { width: 100%; height: 432px; overflow: hidden; text-align: center; }

.page .producttop .topbanner .swiper-slide span { display: block; width: 100%; text-align: center; color: rgb(150, 150, 150); font-size: 24px; margin-top: 50px; padding-bottom: 55px; }

.page .producttop .topbanner .banner-pagination .swiper-pagination-bullet-active { background: rgb(228, 117, 65); }

.page .product-intro .index-intro { width: 70%; }

.page .product-intro .intro-section { text-align: center; margin-top: 54px; margin-bottom: 45px; }

.page .product-intro .intro-section h3 { margin-top: 40px; margin-bottom: 30px; font-weight: normal; }

.page .product-intro .intro-section p { margin-top: 0px; }

.page .product-function .index-intro { width: 80%; }

.page .product-function .index-intro .tyshowbtn { width: 300px; margin: 45px auto 0px; height: 70px; line-height: 70px; }

.function-tab-content { width: 100%; background: rgb(255, 255, 255); }

.function-tab-content .function-tabs { width: 400px; margin: 0px auto; border: 1px solid rgb(228, 117, 65); border-radius: 10px; height: 53px; line-height: 370px; overflow: hidden; }

.function-tab-content .function-tabs li { width: 33.16%; float: left; display: inline-block; text-align: center; height: 53px; line-height: 53px; font-size: 30px; }

.function-tab-content .function-tabs li:nth-child(2) { border-left: 1px solid rgb(228, 117, 65); border-right: 1px solid rgb(228, 117, 65); }

.function-tab-content .function-tabs li.selected { background: rgb(228, 117, 65); color: rgb(255, 255, 255); }

.function-tab-content.fixed { position: fixed; top: 0px; left: 0px; z-index: 15; }

.page .product-function .function-content h3 { margin-top: 54px; margin-bottom: 30px; font-weight: normal; }

.page .product-function .function-content img { margin-top: 45px; }

.page .product-function .function-content p { margin-top: 0px; }

.page .product-function .function-content .function-content-part { margin-bottom: 100px; text-align: center; }

.page .advantage-content .advantage-content-float { margin-top: 54px; display: inline-block; width: 100%; }

.page .advantage-content .advantage-content-float .advantage-img { width: 30%; float: left; display: inline-block; text-align: center; }

.page .advantage-content .advantage-content-float .advantage-img span { width: 100%; display: block; text-align: center; }

.page .advantage-content .advantage-content-float .advantage-text { width: 70%; float: left; display: inline-block; text-align: center; }

.page .advantage-content .advantage-content-float p { margin-top: 20px; }

.page .advantage-content .advantage-content-part h3 { margin-top: 54px; margin-bottom: 30px; font-weight: normal; }

.page .advantage-content .advantage-content-part p { margin-top: 0px; }

.page .advantage-content .advantage-content-part { margin-top: 54px; margin-bottom: 45px; text-align: center; }

.page .case-content h2 { margin-top: 50px; font-weight: normal; }

.page .case-content p { margin-top: 30px; text-align: center; }

.tymask { width: 480px; height: 300px; background: rgba(0, 0, 0, 0.6); border-radius: 10px; position: fixed; left: 50%; margin-left: -240px; top: 30%; z-index: 14; }

.tymask .icon-remove-sign { font-size: 40px; color: rgb(255, 255, 255); position: absolute; top: 10px; left: 10px; }

.tymask .tymask-lists { margin-top: 10%; }

.tymask .tymask-lists li { width: 50%; float: left; display: inline-block; text-align: center; }

.tymask .tymask-lists li a { width: 150px; margin: 30px auto 0px; font-size: 24px; }

.page#sms .producttop .masktop .title { font-size: 27px; }

.page#sms .producttop .topbanner .banner-pagination .swiper-pagination-bullet-active { background: rgb(27, 188, 155); }

#sms .function-tab-content .function-tabs { width: 400px; margin: 0px auto; border: 1px solid rgb(27, 188, 155); border-radius: 10px; height: 53px; line-height: 370px; overflow: hidden; }

#sms .function-tab-content .function-tabs li:nth-child(2) { border-left: 1px solid rgb(27, 188, 155); border-right: 1px solid rgb(27, 188, 155); }

#sms .function-tab-content .function-tabs li.selected { background: rgb(27, 188, 155); color: rgb(255, 255, 255); }

.page#sharerec .producttop .masktop .title { font-size: 27px; }

.page#sharerec .producttop .topbanner .banner-pagination .swiper-pagination-bullet-active { background: rgb(236, 100, 86); }

#sharerec .function-tab-content .function-tabs { width: 400px; margin: 0px auto; border: 1px solid rgb(236, 100, 86); border-radius: 10px; height: 53px; line-height: 370px; overflow: hidden; }

#sharerec .function-tab-content .function-tabs li:nth-child(2) { border-left: 1px solid rgb(236, 100, 86); border-right: 1px solid rgb(236, 100, 86); }

#sharerec .function-tab-content .function-tabs li.selected { background: rgb(236, 100, 86); color: rgb(255, 255, 255); }

.page#sharerec .advantage-content .advantage-content-part img { margin-top: 45px; }

.page#bigapp .producttop .masktop .title { font-size: 27px; }

.page#bigapp .producttop .topbanner-bigapp .banner-pagination .swiper-pagination-bullet-active { background: rgb(74, 168, 232); }

.page#bigapp .producttop .topbanner-bigapp { width: 100%; height: 100%; overflow: hidden; display: block; position: relative; margin-top: 50px; }

.page#bigapp .producttop .topbanner-bigapp .swiper-slide { width: 100%; height: 100%; overflow: hidden; text-align: center; }

.page#bigapp .producttop .topbanner-bigapp .swiper-slide span { display: block; width: 100%; text-align: center; color: rgb(150, 150, 150); font-size: 24px; margin-top: 50px; padding-bottom: 55px; }

#bigapp .function-tab-content .function-tabs { width: 400px; margin: 0px auto; border: 1px solid rgb(74, 168, 232); border-radius: 10px; height: 53px; line-height: 370px; overflow: hidden; }

#bigapp .function-tab-content .function-tabs li:nth-child(2) { border-left: 1px solid rgb(74, 168, 232); border-right: 1px solid rgb(74, 168, 232); }

#bigapp .function-tab-content .function-tabs li.selected { background: rgb(74, 168, 232); color: rgb(255, 255, 255); }

.page#bigapp .tymask .tymask-lists li { width: 100%; }

.page#mobapi .producttop .masktop .title { font-size: 27px; }

.page#mobapi .producttop .topbanner-bigapp .banner-pagination .swiper-pagination-bullet-active { background: rgb(74, 168, 232); }

.page#mobapi .producttop .topbanner-bigapp { width: 100%; height: 100%; overflow: hidden; display: block; position: relative; margin-top: 50px; }

.page#mobapi .producttop .topbanner-bigapp .swiper-slide { width: 100%; height: 100%; overflow: hidden; text-align: center; }

.page#mobapi .producttop .topbanner-bigapp .swiper-slide span { display: block; width: 80%; text-align: center; color: rgb(150, 150, 150); font-size: 34px; margin: 10px auto; }

.page#mobapi .product-function .function-content h3 { margin-top: 10px; }

.page#mobapi .product-function .function-content img { margin-top: 0px; }

.page#mobapi .product-function .index-intro .tyshowbtn { margin-top: 10px; }

.page#mobapi .case-content h2 { margin-top: 0px; }

.page#mobapi .case-content { padding-bottom: 30px; }

.page#mobapi .advantage-content .advantage-content-part h3 { margin-top: 10px; }

#mobapi .function-tab-content .function-tabs { width: 400px; margin: 0px auto; border: 1px solid rgb(74, 168, 232); border-radius: 10px; height: 53px; line-height: 370px; overflow: hidden; }

#mobapi .function-tab-content .function-tabs li:nth-child(2) { border-left: 1px solid rgb(74, 168, 232); border-right: 1px solid rgb(74, 168, 232); }

#mobapi .function-tab-content .function-tabs li.selected { background: rgb(74, 168, 232); color: rgb(255, 255, 255); }

.page#mobapi .tymask .tymask-lists li { width: 100%; }

.page#mobapi .api-list { display: inline-block; padding: 5px; }

.page#mobapi .api-list li { display: inline-block; float: left; padding: 5px; width: 31%; border-right: 1px solid rgb(204, 204, 204); margin-bottom: 50px; }

.page#mobapi .api-list li:nth-child(3), .page#mobapi .api-list li:nth-last-child(1) { border-right: none; }

.page#mobapi .api-list li p { font-size: 20px; }

.page#login .login-content { margin-top: 70px; }

.page#login .login-content h1 { text-align: center; }

.page#login .login-content form { width: 100%; overflow: hidden; }

.page#login .login-content form .form-content { width: 100%; background: rgb(255, 255, 255); border-top: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); padding-left: 40px; margin-top: 50px; }

.page#login .login-content form .form-group { border-bottom: 1px solid rgb(204, 204, 204); height: 90px; width: 100%; display: block; }

.page#login .login-content .form-group label { margin: 10px; width: 100%; height: 80px; display: block; line-height: 80px; }

.page#login .login-content .form-group label i { font-size: 45px; color: rgb(101, 218, 209); }

.page#login .login-content .form-group label i.icon-lock { margin: 0px 7px; }

.page#login .login-content .form-group label input { height: 60px; margin-left: 20px; font-size: 20px; border: none; min-width: 450px; }

.page#login .login-content .form-group input:-webkit-autofill { background: rgb(204, 204, 204) !important; }

.page#login .login-content form button { border: none; width: 300px; margin: 90px auto; }

.page#login .login-content .form-group .showpassword { width: 60px; display: inline-block; text-align: center; }

.page#login .login-content .form-group .showpassword i { color: rgb(204, 204, 204); font-size: 36px; }

#download .main-contents { position: relative; max-width: 640px; height: 100%; overflow: hidden; margin: 0px auto; display: block; }

#download .main-contents .left { position: absolute; left: 0px; top: 0px; display: inline-block; }

#download .main-contents .right { position: absolute; right: 0px; top: 0px; display: inline-block; }

#download .main-contents .appicon { width: 100%; margin-top: 200px; text-align: center; }

#download .main-contents .appicon img { width: 27%; }

#download .main-contents .apptitle { width: 70%; margin: 35px auto 0px; text-align: center; font-size: 48px; color: rgb(80, 85, 86); border-bottom: 1px solid rgb(204, 204, 204); padding-bottom: 60px; }

#download .main-contents .apptitle i { margin-left: 20px; color: rgb(0, 160, 0); }

#download .main-contents .appinfo { margin-top: 58px; text-align: center; }

#download .main-contents .appinfo p { font-size: 26px; line-height: 40px; color: rgb(169, 177, 179); margin-top: 0px; }

#download .main-contents .appbutton { text-align: center; }

#download .main-contents .appbutton a { display: inline-block; width: 362px; height: 84px; text-align: center; line-height: 84px; text-decoration: none; color: rgb(169, 177, 179); border: 1px solid rgb(169, 177, 179); border-radius: 50px; font-size: 26px; margin-top: 62px; }

#download .mask-content { width: 100%; height: 100%; background: rgba(255, 255, 255, 0.8); position: fixed; top: 0px; right: 0px; z-index: 10000; }